# MongoDB settings
MONGODB_URL=
MONGODB_DB_NAME=

# Pinecone settings
PINECONE_API_KEY=
PINECONE_ENVIRONMENT=
PINECONE_INDEX_NAME=
PINECONE_HOST=

# OpenAI settings
OPENAI_API_KEY=
LEAD_AI_MODEL=
CLASSIFIER_AI_MODEL=
EMBEDDING_MODEL=

# Google Gemini settings
GEMINI_API_KEY=
GEMINI_MODEL_NAME=
GEMINI_EMBEDDING_MODEL_NAME=

# Logging settings
LOG_LEVEL=INFO
LOG_PATH=logs/app.log
LOG_BACKUP_COUNT=5
LOG_MAX_BYTES=10485760  # 10 MB