# Python
__pycache__/

# Distribution / packaging
dist/
build/
eggs/
.eggs/
*.egg-info/

# Virtual Environment
venv/
.venv/

# Environment variables
.env
.env.*
!.env.example

# IDE
.vscode/

.DS_Store

config.py